body{
    margin: 0;
}
header{
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    height: 3rem;
    padding-top: 1rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}
.menu_header{
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
}
.menu_header a{
    padding: 1.5rem;
}
.menu_header a, a:hover
{
	color:#000;
	text-decoration:none;
}
.menu_header a:hover{
    border-top: solid 2px #2EAFBA;
}
#Carousel img{
    padding-top: 5rem;
    max-width: 100%;
    height: auto;
    margin: 5px;
}
#Service{
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Service h2{
    margin-bottom: 0;
}
#Service h3{
    margin: 0;
    color: #2EAFBA;
    font-size: 2em;
}
#Service p{
    margin-top: 0;
    width: 25rem;
    text-align: center;
}
.service_content{
    display: flex;
    text-align: left;
}
.logo_text{
    display: flex;
    align-items: center;
}
.logo_text i{
    padding: 1rem;
    border: 1px solid #2EAFBA;
    border-radius: 50%;
}
.logo_dot{
    display: flex;
    align-items: center;
    height: 55px;
    width: 55px;
    padding-right: 2rem;
}
.logo_dot h5{
    color: #2EAFBA;
    font-size: 2em;
}
.text p{
    text-align: start;
}
.titre_texte{
    display: flex;
    flex-direction: column;
}
#Projets{
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Projets h2{
    margin-bottom: 0;
}
#Projets h3{
    margin: 0;
    color: #2EAFBA;
    font-size: 2em;
}
#Projets p{
    margin-top: 0;
    width: 25rem;
    text-align: center;
}
.four_bloc{
    display: flex;
    justify-content: center;
}
.four_bloc p{
    background-color: lightgrey;
    border: 1px solid lightgrey;
    width: 70px;
    height: 25px;
}
.four_bloc p:hover{
    color: white;
    background-color: #2EAFBA;
    border: 1px solid #2EAFBA;
}
.four_bloc .bloc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.images img{
    height: 150px;
    width: 200px;
    padding: 10px;
}
#Carte_formu{
    display: flex;
    align-items: center;
}
.contact{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 700px;
    width: 100%
}
.contact_form h2{
    margin: 0;
}
.contact_form{
    position: absolute;
    right: 20em;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    width: 15rem;
    height: 55%;
    padding: 10px;
}
.contact_input{
    width: 14rem;
}
.contact_textarea{
    height: 10rem;
    width: 14rem;
}
.mail{
    margin: 5px 0;
}
.message{
    margin: 5px 0;
}
.message input{
    color: #ffffff;
    background-color: #2EAFBA;
    border: 0;
    height: 1.5rem;
}